<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>layuiAdmin 网站用户</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
	</head>
	<body>

		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="layui-form layui-card-header layuiadmin-card-header-auto">
						<div class="layui-form-item demoTable">
							<div class="layui-inline">
								<label class="layui-form-label">接种人姓名</label>
								<div class="layui-input-block">
									<input type="text" id="jiezhongzhe" name="jiezhongzhe" placeholder="请输入接种人姓名" autocomplete="off"
										   class="layui-input">
								</div>
							</div>

							<div class="layui-inline">
								<button id="queryBtn" class="layui-btn layui-btn-primary" lay-submit
										lay-filter="LAY-user-front-search">
									<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
								</button>
							</div>
						</div>
					</div>
					<table id="LAY-user-manage" lay-filter="test"></table>
				</div>
			</div>
		</div>
		<script type="text/html" id="toolbarDemo">
		  <div class="layui-btn-container">
		  </div>
		</script>
		<script src="../../../layuiadmin/app.js"></script>
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.use(['jquery', 'table'], function() {
				var table = layui.table;
				window.jQuery = window.$ = layui.jquery;

				//方法级渲染
				table.render({
					
					elem: '#LAY-user-manage',
					toolbar: '#toolbarDemo',
					method: "get",
					url: server_url + '/admin/inoculate/pageQuery'
					,headers: {
						"x-token":localStorage.getItem("token")
					},
					limits: [3,5,8,10,15,20],
					cols: [[
						{field: 'id',title: 'ID',width: 80,sort: true,fixed: true, align: "center"},
						{field: 'userRealName',title: '接种人姓名',width: 150, align: "center"},
						{field: 'part',title: '接种部位',width: 100, align: "center"},
						{field: 'vaccineName',title: '疫苗名称',width: 200, align: "center"},
						{field: 'workerRealName',title: "医护人员姓名",width: 150, align: "center"},
						{field: 'createTime',title: "接种时间",sort: true, width: 200, align: "center"},
						{field: 'inoculateSiteName',title: "接种点名称", width: 300, align: "center"},
						{field: 'vaccineBatchCode',title: "疫苗批号", width: 200,sort: true, align: "center"},
						{field: 'note',title: "备注", width: 300,align: "center"}

					]],
					page: true,
					request: {
						pageName: 'current' //页码的参数名称，默认：page
						,limitName: 'limit' //每页数据量的参数名，默认：limit
					}
				});
				document.getElementById("queryBtn").onclick = function() {
					//执行重载
					table.reload('LAY-user-manage', {
						page: {
							curr: 1 //重新从第 1 页开始
						},
						where: {
							name: $("#jiezhongzhe").val()
						}
					});
					return false;

				};
			});
		</script>
	</body>
</html>
