<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="../../../layuiadmin/layui/css/layui.css" rel="stylesheet" />
	</head>
	<body>
		<div class="layui-fluid">
			<br>
		<form class="layui-form" id="yimiaoForm">
			<div class="layui-form-item">
				<label class="layui-form-label">接种点名称</label>
				<div class="layui-input-block">
				  <input type="text" id="name"  name="name" lay-verify="required" autocomplete="off" placeholder="请输入接种点名称" class="layui-input">
				</div>			
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">添加区域</label>
				<div class="layui-input-inline">
					<select id="province" lay-filter="province">
						<option value="">请选择省</option>
					</select>
				</div>
				<div class="layui-input-inline">
					<select id="city" lay-filter="city">
						<option value="">请选择市</option>
					</select>
				</div>
				<div class="layui-input-inline">
					<select id="area" name="districtCode" lay-verify="required" lay-filter="area">
						<option value="">请选择县/区</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">地址</label>
				<div class="layui-input-block">
				  <input type="text" id="address" name="address" lay-verify="required" autocomplete="off" placeholder="请输入地址" class="layui-input">
				</div>			
			</div>
			<div class="layui-upload">
				<label class="layui-form-label">接种点图片:</label>
				<div class="layui-upload layui-input-block">
					<input type="hidden" id="imgUrl" name="imgUrl" required lay-verify="required" />
					<button type="button" class="layui-btn layui-btn-primary" id="fileBtn"><i class="layui-icon">&#xe67c;</i>选择文件</button>
					<button type="button" class="layui-btn layui-btn-warm" id="uploadBtn">开始上传</button>
				</div>
			</div>
			<div class="layui-form-item">
<!--				<div style="text-align:right;width:1%;">&lt;!&ndash;background:&ndash;&gt;-->
					<button lay-filter="yimiaoAdd" class="layui-btn layui-btn-normal"  lay-submit="">添加</button>
<!--				</div>-->
			</div>
			
		</form>
		</div>
	</body>
	<script src="../../../layuiadmin/app.js"></script>
	<script src="../../../layuiadmin/layui/layui.js"></script>
	<script>
	
	      layui.config({
	            base: '../../../layuiadmin/modules/'
	            , version: '1.0'
	        });
	layui.use(['jquery','form','upload'],function(){
		var $=layui.jquery,form =layui.form;

		var upload = layui.upload;
		upload.render({
			elem: '#fileBtn'
			,url: server_url+"/admin/inoculateSiteImage/upload"
			,accept: 'file'
			,auto: false
			,bindAction: '#uploadBtn',
			headers:{
				"x-token":localStorage.getItem("token")
			}
			,done: function(res){
				if (res.code != 0) {
					alert("上传失败");
				}
				alert("上传成功");
				$("[name=imgUrl]").val(res.data);
			}
		});

		form.on('submit(yimiaoAdd)', function(data){
			//ajax 提交
			$.ajax({
				type: "POST",
				dataType: "JSON",
				headers:{
					"x-token":localStorage.getItem("token")
				},
				url: server_url+"/admin/inoculateSite/save" ,//url
				data: $('#yimiaoForm').serialize(),  //表单数据
				success: function (result) {
					
					if (result.code == 0) {
						var index = parent.layer.getFrameIndex(window.name);
						console.log("layer index>>>"+index);
						parent.layer.msg('添加成功');
						window.setTimeout(function(){
							parent.layer.close(index);
						},1000);	

					}else{
						parent.layer.msg(result.message);

					}
				},
				error : function() {
					layer.msg('后台异常！未添加成功');
				}
			});
			return false;
			
		});

		var provinceText = "";
		var cityText = "";
		var areaText = "";
		//异步加载下拉框数据
		$.get(server_url+"/district/findAllProvinces",function (data) {
			if(data.code != 0){
				layer.msg(data.msg)
			}else{
				var $html = "";
				if(data.data != null) {
					$.each(data.data, function (index, item) {
						$html += "<option value='" + item.code + "'>" + item.name + "</option>";
					});
					$("#province").append($html);
					//append后必须从新渲染
					form.render('select');
				}
			}

		});
		//监听省下拉框
		form.on('select(province)', function(dataObj){
			//移除城市下拉框所有选项
			$("#city").empty();
			var cityHtml = '<option value="">请选择市</option>';
			$("#city").html(cityHtml);
			var areaHtml = '<option value="">请选择县/区</option>';
			$("#area").html(areaHtml);
			provinceText = $("#province").find("option:selected").text();
			var value = $("#province").val();
			//异步加载下拉框数据
			$.get(server_url+"/district/findAllCities",{"code":value},function (data) {
				if(data.code != 0){
					layer.msg(data.msg)
				}else{
					var $html = "";
					if(data.data != null) {
						$.each(data.data, function (index, item) {
							$html += "<option value='" + item.code + "'>" + item.name + "</option>";
						});
						$("#city").append($html);
						//append后必须从新渲染
						form.render('select');
					}
				}

			});
		});
//监听市下拉框
		form.on('select(city)', function(dataObj){
			//移除县区下拉框所有选项
			$("#area").empty();
			var html = '<option value="">请选择县/区</option>';
			$("#area").html(html);

			cityText = $("#city").find("option:selected").text();
			var value = $("#city").val();
			//异步加载下拉框数据
			$.get(server_url+"/district/findAllDistricts",{"code":value},function (data) {
				if(data.code != 0){
					layer.msg(data.msg)
				}else{
					var $html = "";
					if(data.data != null) {
						$.each(data.data, function (index, item) {
							$html += "<option value='" + item.code + "'>" + item.name + "</option>";
						});
						$("#area").append($html);
						//append后必须从新渲染
						form.render('select');
					}
				}

			});

		});
		//监听县区下拉框
		form.on('select(area)', function(dataObj){
			areaText = $("#area").find("option:selected").text();
		});
	})
	
	
	
	</script>
</html>
