<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>疫苗预约接种管理平台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" style="padding-right: 30px;" lay-filter="layadmin-layout-right">
          
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite></cite>
            </a>
            <dl class="layui-nav-child">
              <dd id="logout"  style="text-align: center;"><a>退出</a></dd>
            </dl>
          </li>
          
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
           
          </li>
          
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="home/homepage2.html">
            <span>疫苗预约接种</span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;" lay-tips="数据分析" lay-direction="2">
                <i class="layui-icon layui-icon-layouts"></i>
                <cite>数据分析</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="console" class="layui-this">
                  <a lay-href="home/echars.html">数据分析图</a>
                </dd>
              </dl>
            </li>
              <li data-name="user" class="layui-nav-item">
                  <a href="javascript:;" lay-tips="用户管理" lay-direction="2">
                      <i class="layui-icon layui-icon-user"></i>
                      <cite>用户管理</cite>
                  </a>
                  <dl class="layui-nav-child">
                      <dd> <a lay-href="user/user/list.html">接种者信息</a></dd>
                      <dd> <a lay-href="user/administrators/info.html">管理员信息</a> </dd>
                  </dl>
              </li>
			<li data-name="yimiao" class="layui-nav-item">
				<a href="javascript:;" lay-tips="疫苗管理" lay-direction="2">
					<i class="layui-icon layui-icon-set" ></i>
					<cite>疫苗管理</cite>
				</a>
				<dl class="layui-nav-child">
				  <dd>
				    <a lay-href="yimiao/yimiao/list.html">疫苗信息</a>
				  </dd>
				</dl>
			</li>
			<li data-name="jiezhongdian" class="layui-nav-item">
				<a href="javascript:;" lay-tips="接种点管理" lay-direction="2">
					<i class="layui-icon layui-icon-set" ></i>
					<cite>接种点管理</cite>
				</a>
				<dl class="layui-nav-child">
				  <dd> <a lay-href="jiezhongdian/jiezhongdian/list.html">接种点信息</a> </dd>
				  <dd> <a lay-href="jiezhongdian/worker/list.html">医护人员信息</a> </dd>
				</dl>
			</li>
              <li data-name="plan" class="layui-nav-item">
                  <a href="javascript:;" lay-tips="预约计划管理" lay-direction="2">
                      <i class="layui-icon layui-icon-set"></i>
                      <cite>预约计划管理</cite>
                  </a>
                  <dl class="layui-nav-child">
                      <dd> <a lay-href="plan/list.html">预约计划信息</a></dd>
                  </dl>
              </li>
			<li data-name="yuyuegenjin" class="layui-nav-item">
				<a href="javascript:;" lay-tips="预约接种流程查询" lay-direction="2">
					<i class="layui-icon layui-icon-slider" ></i>
					<cite>预约接种流程查询</cite>
				</a>
				<dl class="layui-nav-child">
                    <dd> <a lay-href="yuyuegenjin/pay/list.html">支付查询</a> </dd>
				  <dd> <a lay-href="yuyuegenjin/yuyue/list.html">预约查询</a> </dd>
				  <dd> <a lay-href="yuyuegenjin/qiandao/list.html">签到查询</a> </dd>
				  <dd> <a lay-href="yuyuegenjin/yujian/list.html">预检查询</a> </dd>
				  <dd> <a lay-href="yuyuegenjin/jiezhong/list.html">接种查询</a> </dd>
				  <dd> <a lay-href="yuyuegenjin/liuguan/list.html">留观查询</a> </dd>
				</dl>
			</li>
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/homepage2.html" lay-attr="home/homepage2.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="home/echars.html" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>
  <script src="../layuiadmin/app.js"></script>
  <script src="../layuiadmin/layui/layui.js"></script>
  <script>
 
  layui.config({
    base: '../layuiadmin/' // 静态资源所在路径
  }).extend({
    index: 'lib/index' // 主入口模块
  }).use('index',function(){

	    var $=layui.$;
	  	  // 获取用户信息
	  	  var userInfo=localStorage.getItem("admin");
	  	  // 转换成json对象
	  	  var userObj=JSON.parse(userInfo);
	  	  var realName=userObj.realName;
	  	  document.getElementsByTagName("cite")[0].innerText=realName;
	  	  $("#logout").on("click",function(){
	  	  	  layer.confirm('确定要退出吗?',{icon:3,title:'提示'},function(index){
	  	  		  // 从localStorage中把用户信息和token删掉
	  	  		  localStorage.removeItem("admin");
	  	  		  localStorage.removeItem("token");
	  	  		  layer.close(index);
	  	  		  location.href="login.html";
	  	  		  });
	  	  	 })
	   
  });
  </script>
</body>
</html>


